name: ESLint

on:
  push:
    branches: master
  pull_request:
  workflow_call:
    inputs:
      node_version:
        description: 'Defines the node version setup to run the linter'
        default: 20
        required: false
        type: number

jobs:
  eslint:
    name: ESLint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node_version }}
          cache: 'npm'

      - name: install
        run: yarn install

      - name: eslint
        run: yarn run lint
        env:
          CI: true